.App {
   text-align: center;
}
html, body, button {
   font-family: 'Montserrat', sans-serif;
}
body {
   background-image: url("../img/bg.jpg");
   background-repeat: repeat;
   background-size: 25%;
 }
