.contenedorTodo{
    padding: 1%;
}
.contenedorFavorites {
    display: flex;
    padding: 0 5%;
    flex-flow: wrap;
    gap: 1rem;
    justify-content: center;
}
.contenedorFiltro {
    margin: 2% auto;
}
.contenedorFavs .otroClassName{
    display: none;
}